version: '2'
services:
  tigervnc:
    build:
      context: ./docker/tigervnc
      dockerfile: ./Dockerfile
    container_name: vnc
    environment:
      - VNC_RESOLUTION=${VNC_RESOLUTION}
      - VNC_COL_DEPTH=${VNC_COL_DEPTH}
      - VNC_PASSWORD=${VNC_PASSWORD}
      - LANG=${LANG}
      - LANGUAGE=${LANGUAGE}
      - LC_ALL=${LC_ALL}
    volumes:
      - ./data/wineprefix:/home/ubuntu/.wine:rw
      - ./data/shared:/home/ubuntu/shared:rw
    depends_on:
      - websockify
      - nginx

  websockify:
    build:
      context: ./docker/websockify
      dockerfile: ./Dockerfile
    container_name: websockify
    environment:
      - VNC_PORT=${VNC_PORT}
      - VNC_HOST=${VNC_HOST}
      
  nginx:
    build: 
      context: ./docker/nginx
      dockerfile: ./Dockerfile
    container_name: nginx
    ports:
      - 80:80
      - 443:443
      - 1935:1935
    volumes:
      - ./data/nginx:/etc/nginx/conf.d:ro
      - ./data/cert:/etc/nginx/ssl:ro
    
