version: '2'
services:
  x11vnc:
    build:
      context: ./docker/x11vnc
      dockerfile: ./Dockerfile
    container_name: x11vnc
    environment:
      - VNC_RESOLUTION=${VNC_RESOLUTION}
      - VNC_COL_DEPTH=${VNC_COL_DEPTH}
      - VNC_PASSWORD=${VNC_PASSWORD}
      - LANG=${LANG}
      - LANGUAGE=${LANGUAGE}
      - LC_ALL=${LC_ALL}
    volumes:
      - ./data/wineprefix:/home/alpine/.wine:rw
      - ./data/shared:/home/alpine/shared:rw
  novnc:
    build:
      context: ./docker/novnc
      dockerfile: ./Dockerfile
    container_name: novnc
    depends_on: 
      - x11vnc
    environment:
      - VNC_HOST=x11vnc
  nginx:
    image: nginx:1.17.7-alpine
    container_name: nginx
    depends_on:
      - novnc
      - x11vnc
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./data/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    